.container-perfil{
    margin : 10px;
    width: 90%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 80px;
}
label{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.container-perfil .subtitulo {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    /* font-size: 100px; */
}

.container-perfil .img-perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    
}
.container-perfil .img-perfil img{
    width: 150px;
    height: 150px;
    margin:10px;
}  
.body-perfil {
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 10px;
}