.table-head {
    background-color: black;
    color: #ddd;
    height: 5rem;
}

.table-head td {
    padding: 0 1rem;
    font-weight: 500;
    font-size: 2rem;
}

.table-body {
    background-color: #ddd;
    height: 100%;

}

.table-body tr {
    height: 5rem;
}

.table-body tr td {
    padding: 0 1rem;

}