.login-container {
    
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: column;
    position: relative;
    width: 450px;
    overflow-wrap: break-word;
    background-color: rgb(255, 255, 255);
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.75rem;
    overflow: visible;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.login-title {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    margin: 1rem;
    color: gray
}

.main-box__login{
    width: 60%;
  min-height: calc(100vh - 50px);

  display: flex;
  flex-direction: column;
  align-items: center;
justify-content: space-between;
  background-color: #fff;
  
}

 .main-box__login .container-main__buttons .footer-img{
    height: 80px;
  }
