.custom-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
    color: #fff;
    font-size: 2rem;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
    width: 90%;
    height: 5rem;
    cursor: pointer;
    background-size: 150% !important;
    background-position-x: 25% !important;
    
}

.custom-button:hover {
    background-color: #5390f5;
    transform: scale(1.1);
}

.warning {
    background-color: #d63031;
}
