.header-sidebar {
    width: 100%;
    height: 80px;
    padding-left: 24px;
    /* padding-right: 24px; */
    background-color: none;
    padding-top: 0;
    display: flex;
    justify-content: end;
    font-family: "Sora", sans-serif !important;
    
}

.header-sidebar .infouser {
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid #cecde3;
    border-width: thin;
    width: calc(100vw - 41rem);
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 3rem;
    
    
}

.header-sidebar .infouser img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 1rem;
  
  
}

.line {
    flex-shrink: 0;
    border-top: 0px solid rgba(0, 0, 0, 0.08);
    border-right: 0px solid rgba(0, 0, 0, 0.08);
    border-left: 0px solid rgba(0, 0, 0, 0.08);
    height: 0.0625rem;
    margin: 1rem 0px;
    border-bottom: none;
    opacity: 0.25;
    background-color:  #181819;
    background-image: linear-gradient(to right, rgb(249, 245, 245), rgb(30, 28, 28), rgb(255, 255, 255)) !important;
}

.menu-icon {
  font-size: 2rem;
  color: #ebeaeb;
  margin-right: 1.5rem;
  display: none; /* Initially hide the menu icon */
}

.sidebar {
  width: 35rem;
  background-color: white;
  height: 98vh;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 16px;
  margin: 1rem;
  box-shadow: 0px 0px 8px -5px rgba(0,0,0,1);
  font-family: "Sora", sans-serif !important;
  font-size: 1.5rem;
  margin-bottom: 1.3rem;
  
  @media (max-width: 1000px) {
    transform: translateX(-50rem); /* Hide sidebar on smaller screens */
    transition: transform 0.3s ease-in-out;
    
  }
}

.sidebar.active {
  transform: translateX(0); /* Show sidebar when active */
  z-index: 1000;
}

.divider {
  flex-shrink: 0;
  border-top: 0px solid rgba(0, 0, 0, 0.08);
  border-right: 0px solid rgba(0, 0, 0, 0.08);
  border-left: 0px solid rgba(0, 0, 0, 0.08);
  height: 0.0625rem;
  margin: 1rem 0px;
  border-bottom: none;
  opacity: 0.25;
  background-color: transparent;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  ) !important;
}

.sidebar .icon-sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 2rem;
  max-height: 30rem;
}

.sidebar .icon-sidebar img {
  width: 30%;
  margin-bottom: 1rem;
  
}
.sidebar .icon-sidebar h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-left: 10%;
}
.sidebar .opciones-sidebar .opcion-sidebar {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 1rem;
  flex-direction: center;
  color: #034337;
  font-family: "Sora", sans-serif !important;
}

.sidebar .opciones-sidebar .opcion-sidebar:hover {
  background-color: #034337;
  border-radius: 0.5rem;
  color: #87bc1f;
}

.sidebar a {
  text-decoration: none;
}

.opcion-sidebar .text-opcion {
  margin-left: 1.5rem;
  letter-spacing: 0.2rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.opcion-sidebar .icon {
  font-size: 3rem;
}

@media (max-width: 1000px) {
  .menu-icon {
    display: block;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    z-index: 1000;
    margin: 1%;
    color: rgb(123, 128, 154);
    font-size: 3rem;
  }
}
